@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&display=swap');

@font-face {
    font-family: 'DIN';
    src: url("DIN.woff2");
}
:root {
	--background: #e8e6e3;
	--text: #2c2c2c;
    --green: #2b663c;
    --light-green: #317745;
}
body {
    margin:0;
    padding:0;
    /*background-color: var(--background);*/
}
html {
    margin:0;
}
.title {
    z-index: 999;
    font-family: 'Cabin Sketch', arial;
    font-size: 30px;
    color: #e8e6e3;
    position: relative;
    top: 0;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    background-color: var(--text);
    min-width: 20vh;
    margin: 0;
}
.title img {
    height: 200px;
    margin-right: 50px;
    transition: filter .5s, background-position .5s;
    filter:drop-shadow(0px -5px 10px);
    background-image: url("fire.webp");
    background-position: 0px 2px;
    background-size: contain;
    text-align: center;
}

.titlebar {
    
    z-index: 899;
    position: sticky;  
    top: 0;
    display: flex;
    color:#e8e6e3;
    width: 100vw;
    overflow: hidden;

    opacity: 1;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: var(--green);
    height: calc(100px + 5vh);
}
.titlebar p{
    font-family: "Cabin Sketch", arial;
    margin: 0;
    margin-left: 50px;
    font-size: 80px;
}
#price {
    position: sticky;
    top: calc(140px + 5vh);
    margin-top: 40px;
    width: 30vw;
    padding: 20px;
    border-radius: 30px;
    float: right;
    background-color: var(--green);
    color: var(--background);
    font-family: "Fira Sans", arial;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
#price div:nth-of-type(1){
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}
#price .t{
    margin: 0;
    font-family: "Cabin Sketch", arial;
    font-size: 40px;
}
#price a {
    text-decoration: none;
    font-style:italic;
    font-weight:bold;
}
#price button {
    border-radius: 15px;
    padding: 10px;
    margin-left: auto;
    font-size: 25px;
    background-color: var(--light-green);
    color: var(--background);
    box-shadow: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: opacity .5s;
}
#price button:hover {
    opacity: 0.5;
}
#about {
    min-height: 80vh;
}
#items {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin-left: calc(5vw + 30px);
    font-family: 'Fira Sans', arial;
    gap: 100px;
}
.item {
    min-height: 50px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.item .t {
    margin: 0;
    margin-right: 10px;
    font-family: "Cabin Sketch", arial;
    font-size: 70px;
    justify-content: center;

}
.tit {
    display: flex;
    align-items: center;
    transition: opacity .5s;
}
.tit:hover {
    opacity: .3;
}
.tit img {
    height: 100px;
}
.item .p {
    margin: 0;
    font-size: 20px;
    text-align: justify;
    text-justify: auto;
}
.titlebar p:nth-of-type(2){
    font-size: 20px;
    margin-left: 80px;
    max-width: 40vw;
}
.big {
    margin-right: 40px;
    z-index: 9;
    margin: 0;
    font-size: 150px;
    color: #e8e6e3;
}
#a{
    transition: color .5s;
}
.big:hover #a{
    color:red;
}
.big:hover img{
    filter:drop-shadow(0px -20px 5px);
    background-position: 0px 0px;
}
.para {
    display:flex;
    text-align: left;
    font-family: 'Fira Sans', arial;
    font-size: 30px;
    color: var(--text);
    min-height: 50vh;
    width: 96vw;
    left: 4vw;
    position: relative;
    /*background-color: var(--background);*/
    padding-top: 50px;
}
.splash {
    margin-right: 15px;
    margin-top: 30px;  
}
.splash img {
    border-radius: 15px;
    border: solid black 5px;
    width: 50vw;
    max-height: 70vh;
    overflow: hidden;
    object-fit: cover;
    object-position: 0 0;
}


.gallery {
   display: flex;
   flex-direction: column;
}
.gallery_item {
    min-height: 33.4vh;
    margin-top: 10px;
    min-width: 20vw;
}
.contact {
    display:flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Fira Sans', arial;
    color: var(--background);
    background-color: var(--text);
    width: fit-content;
    font-size: 35px;
    padding-left: 4vw;
    position: relative;
    margin-top: 50px;
    padding-bottom: 20px;
    padding-top: 0;
}
.subsub {
    padding: 20px;
    font-size: 20px;
}
.subdivider_p {
    font-family: "Cabin Sketch", arial;
    font-size: 80px;
}
.small {
    margin: 0;
    margin-right: 20px;
}
.rates {
    margin-left: 20px;
}
.subcontact {
    display: flex;
    flex-direction: row;
}
.subtitle {
    margin: 0;
    font-size: 55px;
    font-weight: bold;
    font-family: "Cabin Sketch", arial;
}
#book {
    min-height: 100vh;
}
#title_img {
    position: fixed;
    opacity: 0.4;
    min-width: 100vw;
    min-height: 100vh;
}
.button {
    cursor: pointer;
    text-align: center;
    align-self: center;
    background-color:aliceblue;
    margin: auto;
    width: 50%;
    padding: 20px;
    border-radius: 5px;
    transition: opacity .3s;
}
.button:hover {
    opacity: 0.7;
}
.tiny {
    font-size: 70px
}
#pics {
    background-color:#2c2c2ccc;
    z-index: 99999;
    display: flex;
    top: 0;
    position: fixed;
    width: 100vw;
    display: none;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
#pics img {
    opacity: 1;
    max-height: 100vh;
    max-width: 100vw;
    object-fit: contain;
    border: solid white 2px;
    border-radius: 5px;
}
.po {
    font-family: 'Fira Sans', arial !important;
    font-size: 50px !important;
    font-weight: bold;
}

@media only screen and (max-width: 1100px) {
    .big {
        font-size: 100px;
    }
    .tiny {
        font-size: 45px;
    }   
    .subdivider_p {
        font-size: 80px;
    }
    .contact {
        font-size: 25px;
    }
    .para {
        flex-direction: column;
    }
    .para {
        align-items: center;
    }
    .splash {
        margin-top: 20px;
    }
    .title img {
        height: 140px;
    }
}

@media only screen and (max-width: 900px) {

    .subdivider_p {
        font-size: 60px;
    }
    .title {
        min-height: 10vh;
    }
    .title img {
        height: 80px;
        margin-right: 15px;
    }
    .big {
        font-size: 10vw;
    }
    .tiny {
        font-size: 5vw;
    }
    .subcontact {
        flex-direction: column;
    }
    .rates {
        margin-left : 0px;
        margin-top: 20px;
    }
    .tab {
        font-size: 20px;
    }
    .subcontact {
        font-size: 20px;
    }
    .subsub {
        font-size: 20px;
    }
    .subtitle {
        font-size: 40px;
    }

    .item {
        width: 80vw;
    }
    .item .t {
        font-size: 50px;
    }
    .titlebar p{
        font-size: 60px;
    }
    #items {
        margin-top: 500px;
    }
    #price {
        z-index: 9;
        position: relative;
        top: 10px;
        width: 60vw;
        padding: 20px;
        border-radius: 30px;
        margin-left: 50px;
        float: left;
    }

}
    
    
@media only screen and (max-width: 700px) {
    .titlebar p:nth-of-type(2){
        display: none;
    }
    .titlebar {
        max-height: 70px;
    }
    #items {
        margin-top: 500px;
    }
    #price {
        position: relative;
        top: 10px;
        width: 80vw;
        padding: 20px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 30px;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {

    .subdivider_p {
        font-size: 60px;
    }
    .title img {
        height: 60px;
        margin-right: 15px;
    }
    .rates {
        margin-left : 0px;
        margin-top: 20px;
    }
    .subcontact {
        font-size: 20px;
    }
    .subtitle {
        font-size: 30px;
    }
    .subsub {
        font-size: 15px;
    }
    .item .p {
        font-size: 15px;
    }
    .item .t {
        font-size: 40px;
    }
    #items {
        gap: 20px;
    }
    .titlebar p{
        font-size: 50px;
    }
}