@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@1000&display=swap');

@font-face {
    font-family: 'DIN';
    src: url("DIN.woff2");
}
:root {
	--background: #e8e6e3;
	--text: #2c2c2c;
}
body {
    margin:0;
    padding:0;
    background-color: #e8e6e3;
}
html {
    margin:0;
}
.title {
    font-family: 'Nunito Sans', arial;
    font-size: 30px;
    color: #e8e6e3;
    position: relative;
    min-height: 66vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("eco5.webp");
    background-size: cover;
    
    background-position: 0px -60px;
}
.para {
    text-align: center;
    font-family: DIN, arial;
    font-size: 30px;
    color: var(--text);
    min-height: 50vh;
    width: 80vw;
    left: 10vw;
    position: relative;
    background-color: var(--background);
    padding-top: 50px;
}
.small {
    margin: 0;
}
.big {
    z-index: 9;
    margin: 0;
    font-size: 150px;
    color: #e8e6e3;
}
#a{
    transition: color .5s;
}
.big:hover #a{
    color:red;
}

.gallery {
   display: flex;
   flex-direction: column;
}
.gallery_item {
    min-height: 33.4vh;
    margin-top: 10px;
    min-width: 20vw;
}
.contact {
    margin-top: 40px;
    min-width: 100vw;
    min-height: 66vh;
    font-family: DIN, arial;
    font-size: 35px;
}